<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @term.query_id %>
</p>

<p>
  <strong>Method:</strong>
  <%= @term.method %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @term.artist %>
</p>

<p>
  <strong>Track:</strong>
  <%= @term.track %>
</p>


<span>
	<strong>Results: </strong>
	<pre><%= JSON.pretty_generate(@result) %></pre><br><br>
</span>

<%= link_to 'Edit', edit_user_query_path(@user, @term.query) %> |
<%= link_to 'Back', user_query_path(@user, @term.query) %>
