<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term.name %>
</p>

<p>
  <strong>Query:</strong>
  <%= @term.query_id %>
</p>

<span>
	<%= @result %><br><br>
</span>

<%= link_to 'Edit', edit_query_path(@term.query) %> |
<%= link_to 'Back', query_path(@term.query) %>
