<%= form_for @query do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <h3>Query Terms:</h3>
  <%= f.fields_for :terms do |term| %>
    <%= term.text_field :name %><br>
  <% end %>

  <%= f.submit %>
<% end %>
