<%= form_for [@user, @query] do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <h3>Query Terms:</h3>
  <p>If picking an artist.* method, track data entry field will be omitted.</p>
  <p>If picking an track.* method, be aware that it may required an artist so please input one if known.</p>
  <br>
  <%= f.fields_for :terms do |term| %>
    Method: <%= term.collection_select :method, Term::TYPES, :to_s, :to_s %><br>
    Artist: <%= term.text_field :artist %><br>
    Track: <%= term.text_field :track %><br><br>
  <% end %>

  <%= f.submit %>
<% end %>
