<%= form_for @query do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <h3>Query Terms:</h3>
  <%= f.fields_for :terms do |term| %>
  	<%= select_tag(:name, options_for_select([['Lisbon', 1], ['Madrid', 2], ['Berlin', 3]], 2) %>
    <%= term.text_field :name %><br>
  <% end %>

  <%= f.submit %>
<% end %>
