<p id="notice"><%= notice %></p>

<h1>Queries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.name %></td>
        <td><%= link_to 'Show', user_query_path(@user, query) %></td>
        <td><%= link_to 'Edit', edit_user_query_path(@user, query) %></td>
        <td><%= link_to 'Destroy', [@user,query], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query', new_user_query_path(@user.id) %> |
<%= link_to "Log Out", '/logout', method: :get if logged_in?%>
