<p id="notice"><%= notice %></p>

<p>
  <strong>Query Name: </strong><%= @query.name %><br><br>
  <strong>Query Terms:</strong>
  <ol>
	  <% @query.terms.each do |term|%>
	  	<li>
	  		Method: <%= term.method %><br>
	  		Artist: <%= term.artist %><br>
	  		Track: <%= term.track %><br>
	  	</li>
	  	<%= link_to "See Results", user_query_term_path(@user, @query, term)%><br><br>
	  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_user_query_path(@user, @query) %> |
<%= link_to 'Back', user_queries_path(@user) %>
