<p id="notice"><%= notice %></p>

<p>
  <strong>Query Name: </strong><%= @query.name %><br><br>
  <strong>Query Terms:</strong>
  <ol>
	  <% @query.terms.each do |term|%>
	  	<li>Type: <%= term.name %><br>
	  	Value: <%= term.value %></li>
	  	<%= link_to "See Results", query_term_path(@query, term)%><br><br>
	  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
